<section class="topes" id="directorio">
    <div class="container">
        <h1 class="up">Solvencias</h1>
    </div>
</section>
<div class="clear"></div>
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6  ">
                <p>El pago oportuno de las cuotas anuales, nos permite dar continuidad a todos los proyectos y programas que incluyen educación continua, campañas de difusión, mejoramiento profesional, responsabilidad social y, por supuesto, nuestros congresos.
                    <br><br> Los pagos se realizan mediante transferencia bancaria a la cuenta de la SVCBMF, por un monto de Bs. 320.000 anual, con los siguientes datos:
                </p>

            </div>

            <div class="col-sm-6 ">
                <p>Una vez realizado tu pago, es indispensable enviar comprobante de la transferencia y tus datos completos al correo electrónico <a href="mailto:tesoreriasvcbmf@gmail.com" target="_blank">tesoreriasvcbmf@gmail.com</a>. <br><br> Recomendamos
                    mantenerse atentos a las redes sociales de la SVCBMF a fin de estar al tanto acerca de promociones especiales y cambios en el monto de la anualidad. En caso de dudas o para consultas acerca de tu estado de cuentas, puedes contactarnos
                    <a routerLink="/contacto">aquí</a>.
                </p>

            </div>
        </div>

    </div>
</section>

<section style="background-color:#774477;padding-top:40px; padding-bottom:40px;">

    <h4 style="color:#fff; text-align: center;">Banco Provincial<br> Cuenta No. 0108 0503 100 1000 89 682 <br> Rif J 00263611-4<br> Correo electrónico tesoreriasvcbmf@gmail.com</h4>

</section>