/*validation*/

.ng-valid[required],
.ng-valid.required {
    border: none;
    background: transparent;
    border: 1px solid #42A948;
}

.error {
    border: none;
    background: transparent;
    color: #ff0000;
}

.success {
    border: none;
    background: transparent;
    color: green;
}

.contact-message {
    text-align: center;
}