<section class="topes" id="directorio">
    <div class="container">
        <h1 class="up">Junta directiva</h1>
    </div>
</section>
<section class="quebaria uppp" style="background-image:url(./assets/img/personal/JD-actual-2018-2020.jpg)">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <h1>Junta Directiva de la Sociedad Venezolana de Cirugía Bucomaxilofacial </h1>

            <p>Periodo 2018 - 2020.</p>
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="main">
    <div class="container">
        <div class="uppp" style="margin-bottom:30px">
            <div class="row">
                <div class="col-6 col-sm-4">
                    <div class="circle" style="background-image:url(./assets/img/personal/paul-maurette.jpg)"></div>
                    <div class="infoDir">
                        <h5>Dr. Paul Maurette O’Brien</h5>
                        <h6>Presidente</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="circle" style="background-image:url(./assets/img/personal/Jose-Luis-Castro.jpg)"></div>
                    <div class="infoDir">
                        <h5>Dr. José Luis Castro </h5>
                        <h6>Vicepresidente</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="circle" style="background-image:url(./assets/img/personal/hans-cordsen.jpg)"></div>
                    <div class="infoDir">
                        <h5>Dr. Hans Cordsen</h5>
                        <h6>Secretario</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="circle" style="background-image:url(./assets/img/personal/Henry-Garcia.jpg)"></div>
                    <div class="infoDir">
                        <h5>Dr. Henry García </h5>
                        <h6>Tesorero</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="circle" style="background-image:url(./assets/img/personal/dubines-ramirez.jpg)"></div>
                    <div class="infoDir">
                        <h5>Dr. Dubines Ramírez</h5>
                        <h6>Vocal</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="circle" style="background-image:url(./assets/img/personal/orlando-reyes.jpeg)"></div>
                    <div class="infoDir">
                        <h5>Dr. Orlando Reyes </h5>
                        <h6>1er. Suplente</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="circle" style="background-image:url(./assets/img/personal/paolo-verona.jpg)"></div>
                    <div class="infoDir">
                        <h5>Dr. Paolo Verona </h5>
                        <h6>2do. Suplente</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>