<section class="topes" id="blog">
    <div class="container">
        <h1 class="uppp">Juntas Directivas de los Capítulos de la Sociedad Venezolana de Cirugía Buco-Maxilofacial</h1>
    </div>
</section>



<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-6">
                        <div class="card cardblog" style="margin-bottom:20px">
                            <div class="card-body">

                                <h5>Capítulo Aragua.</h5>
                                <p><b>Presidente:</b> Dr. Mauro Vivas</p>
                                <p><b>Secretario:</b> Dr. Antonio Quíntela.</p>
                                <p><b>Tesorero:</b> Dr. Alejandro Sierra.</p>
                                <p><b>Vocal:</b> Dr. Daniel Benain. </p>
                                <p><b>1er. Suplente:</b> No fue asignado </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card cardblog" style="margin-bottom:20px">
                            <div class="card-body">

                                <h5>Capítulo Anzoátegui.</h5>
                                <p><b>Presidente:</b> Dr. Hermann Pulgar </p>
                                <p><b>Secretario:</b> Dr. Reinaldo Méndez </p>
                                <p><b>Tesorero:</b> Dra. Yajaira Fuenmayor </p>
                                <p><b>Vocal:</b> Dr. Arístides Masa </p>
                                <p><b>1er. Suplente:</b> Dr. Fidel Guzmán</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card cardblog" style="margin-bottom:20px">
                            <div class="card-body">
                                <h5>Capítulo Bolívar.</h5>
                                <p><b>Presidente:</b> Dr. Leonard Carrera </p>
                                <p><b>Secretario:</b> Dra. Magdelyn Castro</p>
                                <p><b>Tesorero:</b> Dr. Williams Arrieta</p>
                                <p><b>Vocal:</b> Dr. Carlos Sanabria </p>
                                <p><b>1er. Suplente:</b> No fue asignado </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card cardblog" style="margin-bottom:20px">
                            <div class="card-body">
                                <h5>Capítulo Carabobo.</h5>
                                <p><b>Presidente:</b> Dr. Luis Villasmil</p>
                                <p><b>Secretario:</b> Dr. Bladimir Golaszewski</p>
                                <p><b>Tesorero:</b> Dr. Juan Torres</p>
                                <p><b>Vocal:</b> Dra. Gracce Speranza</p>
                                <p><b>1er. Suplente:</b> Dr. Rafael Barrios</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card cardblog" style="margin-bottom:20px">
                            <div class="card-body">
                                <h5>Capítulo Lara.</h5>
                                <p><b>Presidente:</b> Dr. Gustavo A. Báez G </p>
                                <p><b>Secretario:</b> Dr. Georges Aoun </p>
                                <p><b>Tesorero:</b> Dra. María Fernanda Díaz</p>
                                <p><b>Vocal:</b> Dra. María Andreina Zamora </p>
                                <p><b>1er. Suplente:</b> Dr. Fernando Iglesias </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card cardblog" style="margin-bottom:20px">
                            <div class="card-body">
                                <h5>Capítulo Mérida.</h5>
                                <p><b>Presidente:</b> Dra. Norma Angélica Martínez </p>
                                <p><b>Secretario:</b> Dr. Ricardo Felzani Moreno</p>
                                <p><b>Tesorero:</b> Dr. Manuel Molina Barreto</p>
                                <p><b>Vocal:</b> Dr. Juan Malavé Vera</p>
                                <p><b>1er. Suplente:</b> No fue asignado</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card cardblog" style="margin-bottom:20px">
                            <div class="card-body">
                                <h5>Capítulo Táchira.</h5>
                                <p><b>Presidente:</b> Dra. María Alejandra Quintero </p>
                                <p><b>Secretario:</b> Dr. Héctor Alonso Ramírez </p>
                                <p><b>Tesorero:</b> Dr. Lionar Alberto Colmenares Prato</p>
                                <p><b>Vocal:</b> Dr. Francisco José Franceschini Roa </p>
                                <p><b>1er. Suplente:</b> No fue asignado</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card cardblog" style="margin-bottom:20px">
                            <div class="card-body">
                                <h5>Capítulo Zulia.</h5>
                                <p><b>Presidente:</b> Dr. Gunther Hans Erdody</p>
                                <p><b>Secretario:</b> Dr. Gustavo Bustamante </p>
                                <p><b>Tesorero:</b> Dr. Juan Consuegra</p>
                                <p><b>Vocal:</b> Dra. Sandra Parra</p>
                                <p><b>1er. Suplente:</b> No fue asignado</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card cardblog" style="margin-bottom:20px">
                            <div class="card-body">
                                <h5>Tribunal Disciplinario.</h5>
                                <p><b>Presidente:</b> Dra. José Gregorio Melillo </p>
                                <p><b>Secretario:</b> Dr. Marvis Allais </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---lateral ads--->
            <div class="col-xs-12 col-sm-3">
                <app-bancuadrado></app-bancuadrado>
                <app-banvertical></app-banvertical>
            </div>

        </div>
    </div>
</section>