<div class="clear"></div>
<section class="topes" id="directorio">
    <div class="container">
        <h1 class="up">Miembros activos</h1>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class=" col-12">
            <h1>Encuentra un especialista</h1>
            <p>Le invitamos a consultar en nuestro directorio de miembros de la Sociedad Venezolana de Cirugía Bucomaxilofacial. <br> Introduzca el nombre del profesional, especialidad o localidad, para obtener los resultados disponibles y datos de contacto.
            </p>
            <br>
            <p>Si requiere mayor información, no dude en consultarnos escribiéndonos <a href="contacto">aquí</a> y con gusto le asistiremos.</p>
            <div class="clearfix"></div>
            <br>
            <div class="row">
                <div class="buscador col ">
                    <form class="form-horizontal">
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                            <div class="input-group">
                                <input type="search" name="search" #input (keyup)="search(input.value)" type="text" class="form-control col-xs-12" placeholder="Buscar.." aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary" (click)="search(input.value)" name="submit" data-toggle="tooltip" title="mostrar todos"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 fr-view" *ngFor=" let doctores of doctores.doctores | keys | paginate: { itemsPerPage: count, currentPage: p }">
                    <!--div class="col-sm-6 col-md-4 fr-view" *ngFor=" let directorio of directorios"-->
                    <div class=" card cardhome scrollbar" id="style-3">
                        <div class="card-body ">
                            <img src="{{ServerUrl}}media/images/directorio/{{doctores.image}}" class="img-circle">
                            <h5> {{doctores.nombre}}</h5>
                            <div class="clear"></div> <br>
                            <p> <i class="fa fa-sitemap"></i> {{doctores.especialidad}}</p>
                            <p><i class="fa fa-laptop"></i>{{doctores.website}}</p>
                            <p><i class="fa fa-envelope"></i>{{doctores.email}}</p>
                            <p><i class="fa fa-phone"></i>{{doctores.telefonos}}</p>
                            <p><i class="fa fa-map-marker"></i>{{doctores.estado}}</p>
                            <p><i class="fa fa-map-marker"></i>{{doctores.ciudad}}</p>
                            <p [innerHTML]="doctores.direccion | keepHtml"></p>
                            <p><i class="fa fa-facebook"></i>{{doctores.facebook}}</p>
                            <p><i class="fa fa-instagram"></i>{{doctores.instagram}}</p>
                            <p><i class="fa fa-twitter"></i>{{doctores.twitter}}</p>
                            <p><i class="fa fa-linkedin"></i>{{doctores.linkedin}}</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!--Including the pagination control.-->
            <div class="row mt-4 mb-4">
                <div class="text-center">
                    <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>