<div class="row">
    <div class="col-sm-6  fr-view" style="margin-bottom: 20px;" *ngFor="let blog of blogs | slice:0:4 ">
        <div class=" card cardblog">
            <div class="card-body ">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 imgnott nopadd" [ngStyle]="{'background-image': 'url(' + blog.image + ')'}"></div>
                    <div class="col-xs-12 col-sm-7" style="padding-top: 10px;">
                        <a href="blog/{{blog.id}}">
                            <h5>{{blog.title}}</h5>
                        </a>
                        <p>{{blog.short_desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clear"></div>
<a href="blog"><button class="boton2 btn">+ Info</button></a>