<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a href="/">
                    <div class="logo col-xs-12  col-md-10"></div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-4">
                <p><b>Direccción:</b><br> Centro Médico Docente La Trinidad,<br> Av. Intercomunal La Trinidad El Hatillo, <br> Edif. IO 2, Manuel Antonio Pulido Méndez, PB.<br>
                    <b><b>Teléfono:</b><a href="telf:+582129456090" class="tel" target="_blank">+58 (212) 945-60.90</a></b>
                </p><br><br>
            </div>
            <div class="social col-xs-12 col-sm-4">
                <ul>
                    <li><a href="https://www.facebook.com/groups/svcbmf/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/svcbmf/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/SVCBMFOficial" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>



<div class="credits">
    <div class="container">
        <p>Sociedad Venezolana de Cirugía Bucomaxilofacial 2019 <br> Desarrollado por: <a href="https://www.malcolmcordova.com" target="_blank">Malcolm Cordova Studio Design</a></p>
    </div>
</div>